.main-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
  }
 
.button-group {
    display: flex;
    flex-direction: row; /* stack buttons vertically */
    gap: 12px; /* space between buttons */
    margin-top: 20px; /* space below the title */
  }

 